@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
    --lightPink: #FFB6C1;
    --hotPink: #FF69B4;
    --deepPink: #FF1493;
}

/* Css Reset */
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

ul, ol {
    list-style: none;
}

img {
    max-width: 100%;
    display: block;
}

input, button, textarea, select {
    font: inherit;
}

/* Utils */

body {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
}

button {
    outline: none;
    cursor: pointer;
    border-style: none;
    background: none;
}

/* Main Container */
.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Header */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    width: 100%;
    border-bottom: solid 1px var(--deepPink);
    padding: 1rem;
}

.header > div {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.header > nav {
    display: flex;
    gap: 1rem;
    font-size: 20px;
}

.header * {
    color: var(--hotPink);
}

.header-btn:hover {
    border-bottom: 1.5px solid var(--hotPink);
}

.poke-cafe-logo {
    height: 90px;
}

/* Content */


